h1{
width: 500px;
    text-align: center;
    color: blue;
    font-size: 40px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    width: 500px;
    text-align: center;
    color: green;
    font-weight: normal;
    font-size: 30px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    width: 400px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}